.admin_link_container {
  margin-bottom: 15px;
}

.admin_link {
  background-color: #DDDDDD;
  float: left;
  font-size: 18px;
  margin: 5px;
  padding: 8px 0;
  text-align: center;
  width: 200px;
}


.admin ul {
  padding-left: 15px;
}

ul.small_menu {
}

.stage_pledged {
}

.stage_payment_requested {
  background-color: yellow;
}

.stage_paid_in_full {
  background-color: lightgreen;
}

.green_backg {
  background-color: green;
  font-weight: bold;
  color: white;
}

.link {
  margin-bottom: 10px;
}