.admin_link_container {
  margin-bottom: 15px;
}

.admin_link {
  background-color: #DDDDDD;
  float: left;
  font-size: 18px;
  margin: 5px;
  padding: 8px 0;
  text-align: center;
  width: 200px;
}


.admin ul {
  padding-left: 15px;
}

.download_option {
  padding: 0 0 7px 15px;
}

.paid_true {
  background-color: lightgreen;
}

.paid_false {
}

.link {
  margin-bottom: 10px;
}