/* application-wide */

body {
  font-family:arial,verdana,helvetica,tahoma,Sans-serif;
/*  font-size:100%; */
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.stretcher {
  clear: both; height: 1; width: 100%;
}

a {
  color: #46457B;
  text-decoration: none;
}

a:hover {
  color: #86202A;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.red {
  color: red !important;
}

.form_pretty_wrapper {
  width: 670px;
  background-color: white;
  border: 1px solid #CCCCCC;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px;
}

.body_interior {
  margin: 10px;
}

.backg {
  background-color: red;
}

.back_link {
  margin-bottom: 8px;
}