.summary {
  margin-left: 30px;
  margin-bottom: 20px;
  background-color:#EEEEEE;
  padding: 15px 0 1px 15px;
}

.summary .project {
  margin-bottom: 20px;
}

.summary .project .title {
  font-size: 20px;
  padding-bottom: 4px;
}

.summary .project .info {
  font-size: 17px;
  margin-left: 10px;
}

.summary .project .info .num {
  font-weight: bold;
}

.summary .project .action_links {
  float: right;
  margin-right: 20px;
}

.action_links a {
  display: block;
}

.widget-content {
  font:75% Verdana,sans-serif;
  text-align:left;
  width: 300px;
  font-size: 12px;
}

.project_container {
  margin-top: 7px; 
  margin-bottom: 15px;
}

.project_container .info {
  padding-top: 3px;
}

.project_container .progress_bar_container {
  float: left; border: 1px solid black; width: 100px; height: 14px; margin-top: 0px; position: relative;
}

.progress_bar_container .bar {
  background-color: lightgreen; height: 14px; width: 60px; position: absolute; top: 0; left: 0;
}

.progress_bar_container .text {
  height: 14px; width: 95px; padding-left: 5px; font-size: 10px; font-weight: bold; position: absolute; top: 0; left: 0; text-align: center;
}

.project_container .countdown {
  float: right; 
  text-align: right;
}

.projects_widget .body_interior {
  margin: 0;
}