<h2>You're about to send this email to <%= @project.pledges.not_queued.length %> people.</h2>

<%= form_for @project_user, :url => invoice_custom_admin_project_path( @project ), :method => :post do |f| %>
  
  <b>Subject:</b> 
  <input type="text" name="subject" value="<%= @project_user.pledge_invoice_subject %>" style="width: 300px;"><br><br>
    
  <textarea name="body" style="width: 400px; height: 400px;"><%= @body %></textarea>
  
  <br><input type="submit" value="Send Invoices">


<% end %>
