
<div class="widget-content">

  <% @projects.each do |project| %>

    <div class="project_container">
      <b>Podcast on Finding a Romantic Partner</b>
      <div class="info">
        <div class="progress_bar_container" style="display: none;">
          <div class="bar"></div>
          <div class="text">$230 of $600</div>
        </div>
        <div class="countdown">Pledges open for <span class="has_countdown" until="2010/6/20 1:00"></span></div>
        <div class="stretcher"></div>
      </div>
    </div>

  <% end %>
  
</div>

<% # link_to 'New Project', new_project_path %>
