<div class="admin_link_container clearfix">
  <div style="float: right;">
    <%= link_to "Logout", user_session_path, :method => :delete %>
  </div>

  <div class="admin_link">
    <%= link_to "Home", admin_path %>
  </div>
  <div class="admin_link">
    <%= link_to "Setup", admin_setup_path %>
  </div>
  <div class="admin_link">
    <%= link_to "Edit Settings", edit_account_path %>
  </div>
  
</div>
